<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../css/avtor.css" rel="stylesheet" type="text/css" />
  <link href="../css/normalize.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="registration_content">
    <h1>Авторизация</h1>
    <form class="form_content">
      <input type="text" placeholder="Логин">
      <input type="password" placeholder="Пароль">
      <a href="">Забыли пароль?</a>
      <button type="submit">Войти</button>
      <a href="reg.html" class="a">Нет акаунта?</a>
    </form>
    
  </div>
  
  <script src="script.js"></script>
</body>
</html>