<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Главная страница</title>
  <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="../css/base.css" rel="stylesheet" type="text/css" />
  <link href="../css/tempate.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>

    <section class="site">
        <section class="header">
            <div class="header-logo">
                <div class="logo">
                    <a href=""><h1 class="name-site">shop<span class="logo">card</span></h1></a>
                </div>
                <div class="transparent"></div>
                <a href="" class="bin"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <a href='' class="text-sing-in">Sign in</a>
            </div>
            <div class="search">
                <form class="search-form">
                    <input type='text' placeholder="Search" class="form-input">
                    <button class="button">Поиск</button>
                </form>
            </div>
            <div class="catalog">
                <a class="type">Еда</a>
                <a class="type">Одежда</a>
                <a class="type">Инструменты</a>
                <a class="type">Игрушки</a>
                <a class="type">Растения</a>
                <a class="type">Электроника</a>
                <a class="type">Обувь</a>
                <a class="type">Косметика</a>
            </div>
        </section>
        <section class="recommendations">
            <div class="recommendations-div">
                <div class="text-recomand">We picked some <span class="yellow">cool things</span> for you</div>
                <div class="cards">
                    <p class="text-style-one">We recommend you</p>
                    <div class="products">
                        <a href="" class="card-a">
                            <div class="products__card">
                                <div class="card__image-block">
                                    <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                </div>
                                <div class="card__description">
                                    <div class="card__meta">
                                        <div class="card__rating">5</div>
                                    </div>
                                    <div class="card__name">Наушники</div>
                                    <div class="card__cost">500 000</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="card-a">
                            <div class="products__card">
                                <div class="card__image-block">
                                    <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                </div>
                                <div class="card__description">
                                    <div class="card__meta">
                                        <div class="card__rating">5</div>
                                    </div>
                                    <div class="card__name">Наушники</div>
                                    <div class="card__cost">500 000</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="card-a">
                            <div class="products__card">
                                <div class="card__image-block">
                                    <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                </div>
                                <div class="card__description">
                                    <div class="card__meta">
                                        <div class="card__rating">5</div>
                                    </div>
                                    <div class="card__name">Наушники</div>
                                    <div class="card__cost">500 000</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="advertisement">
            <img class="advertisement-img" src="../../static/img/advertisment.avif"><img>
        </section>
        <section class="slider">
            <p class="text-style-one">Today's hot deals<p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <section class="slider" style="margin-bottom: 3vh;">
            <p class="text-style-one">Interesting for you<p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <section class="advertisement">              
            <img class="advertisement-img" src="../../static/img/advertisment.png"><img>
        </section>
        <section class="slider">
            <p class="text-style-one">Your searched item<p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="card-a slider">
                                <div class="products__card">
                                    <div class="card__image-block">
                                        <img class="card__image" src="../../static/img/headphone.jpg" alt="картинка товара">
                                    </div>
                                    <div class="card__description">
                                        <div class="card__meta">
                                            <div class="card__rating">5</div>
                                        </div>
                                        <div class="card__name">Наушники</div>
                                        <div class="card__cost">500 000</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <section class="slider" style="margin-bottom: 3vh;">
            <p class="text-style-one">Your purchased items<p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="rating-card">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="../../static/img/headphone.jpg" alt="картинка товара" class="img">
                                    </div>
                                    <div class="card-text">
                                        <p class="product-name">iPhone 14 Pro Max with Apple M1 chip (6.7-inch/17.0 cm, 128GB)</p>
                                        <p class="text-style-two">you bought it at the best price</p>
                                        <p class="product-cost">1600,00</p>
                                        <div class="ratings">
                                            <div class="stars">
                                                <i class="fa fa-star star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                            </div>
                                            <p class="text-rating">3,956 rating</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="rating-card">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="../../static/img/headphone.jpg" alt="картинка товара" class="img">
                                    </div>
                                    <div class="card-text">
                                        <p class="product-name">iPhone 14 Pro Max with Apple M1 chip (6.7-inch/17.0 cm, 128GB)</p>
                                        <p class="text-style-two">you bought it at the best price</p>
                                        <p class="product-cost">1600,00</p>
                                        <div class="ratings">
                                            <div class="stars">
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                            </div>
                                            <p class="text-rating">3,956 rating</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="products">
                            <a href="" class="rating-card">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="../../static/img/headphone.jpg" alt="картинка товара" class="img">
                                    </div>
                                    <div class="card-text">
                                        <p class="product-name">iPhone 14 Pro Max with Apple M1 chip (6.7-inch/17.0 cm, 128GB)</p>
                                        <p class="text-style-two">you bought it at the best price</p>
                                        <p class="product-cost">1600,00</p>
                                        <div class="ratings">
                                            <div class="stars">
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o star" aria-hidden="true"></i>
                                            </div>
                                            <p class="text-rating">3,956 rating</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
    </section>
    <section class="footer">
        <div class="footer-div">
            <div class="logo">
                <a href=""><h1 class="name-site">shop<span class="logo">card</span></h1></a>
            </div>
            <div class="menu">
                <a href="" class="url">About us</a>
                <a href="" class="url">Contacts</a>
                <a href="" class="url">Help</a>
            </div>
            <div class="sing-in">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <a href='' class="text-sing-in">Sign in</a>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
      
        const swiper = new Swiper(...)
    </script>
    <script>
         const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
        });
    </script>

</body>

</html>