body{
    font-family: 'Arial', sans-serif;
}
.site{
    margin: 1vh 5vw;
}
.name-site{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#e6a83c;
    font-size: 4.5vh;
}
.logo{
    color: #1e1e1e;
    font-weight: 100;
}
a {
    text-decoration: none;
}
.transparent{
    flex-grow: 1;
}
.text-sing-in{
    color: #1e1e1e;;
    font-family: 'Arial', sans-serif;
    font-size: 2.5vh;
}
.fa-user-circle{
    margin-right: 0.5vw;
    font-size: 4vh;
}
.header-logo{
    border-bottom: solid 0.4vh #ada8a8;
    display: flex;
    align-items: center;
}
.bin{
    margin-right: 1vw;
    font-size: 4vh;
    color: #0d0d0d;
}
.footer{
    border: none;
    background-color: #404040;
    margin: 0;
    display: flex;
    width: 100%;
}
.footer-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 5vw;
}
.url{
    text-decoration: none;
    color: #1e1e1e;
    font-size: 2.5vh;
}
.url:not(:last-child){
    margin-right: 1vw;
}
a:hover{
    color: #e6a83c;
    cursor: pointer;
}
.sing-in{
    display: flex;
    align-items: center;
}