{% extends 'template.html' %}

{% load static %}

{% block title %}
  Catalog
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}


{% block content %}
  <div class="path-to-category">
    {% if category %}
      {% if category.parent_category %}
        <p><a href="/">Главная</a> / <a href="/">{{ category.parent_category.name }}</a> / {{ category.name }}</p>
      {% else %}
        <p>Главная / {{ category.name }}</p>
      {% endif %}
    {% endif %}
  </div>
  <div class="catalog-annoucements"></div>
  <div class="products-filters">
    <div class="filters"></div>
    <div class="products"></div>
  </div>
{% endblock %}

<h1>Товары категории "{{ category.name }}"</h1>
  
  {% if category.parent_category %}
    <p>Подкатегория в "{{ category.parent_category.name }}"</p>
  {% endif %}

  {% if products %}
    <ul>
      {% for product in products %}
        <li>
          <a href="{% url 'product_detail' product.slug %}">
            <img src="{{ product.get_main_image }}" alt="{{ product.name }}" width="100">
            {{ product.name }} - {{ product.price }}$
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Товаров пока нет</p>
  {% endif %}