{% extends 'template.html' %}

{% load static %}

{% block title %}
  Catalog
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}


{% block content %}
  <div class="path-to-category">
    {% if category %}
        <p><a href="/">Главная</a>
          {% if category.parent_category %}
            /
            <a href="{% url 'category_products' category.parent_category.slug %}">{{ category.parent_category.name }}</a>
          {% endif %}
          / {{ category.name }}
        </p>
    {% endif %}
  </div>

  <div class="catalog-annoucements">
    <h1>Catalog</h1>
    <h1>Announcements</h1>
  </div>
  <div class="products-filters">
    <div class="products">
      {% if products %}
        {% for product in products %}
          <div class="product">
            <div class="product-btns-content">
              <div class="btns-product">
                <button class="btn-selection"></button>
                <button class="btn-favourite"><img src="{% static 'imgs/icons/gray-star.svg' %}"></button>
              </div>
              <a href="{% url 'product_detail' product.slug %}">
                <div class="product-img">
                  <img src="{{ product.get_main_image }}" alt="{{ product.name }}" width="100">
                </div>
                <div class="product-content">
                  <div class="product-name">{{ product.name }}</div>
                  <p>Be the first to comment! Start the discussion!</p>
                  <div class="product-description">Description: <br>{{ product.description }}</div>
                </div>
              </a>
            </div>
            <div class="product-price">
              <div class="price">$ {{ product.price }}</div>
              <div class="buy-advantages">
                <div class="advantage">
                  <img src="{% static 'imgs/icons/advantage_card.svg' %}">
                  <p>Save 5% with shopcart card</p>
                </div>
                <div class="advantage">
                  <img src="{% static 'imgs/icons/payment_part.svg' %}">
                  <p>Payment in installments</p>
                </div>
                {% if product.is_hot_deal %}
                  <div class="advantage">
                    <img src="{% static 'imgs/icons/hot_deal.svg' %}">
                    <p style="color:#FF5454;">Hot deal !</p>
                  </div>
                {% endif %}
              </div>
              <button class="btn-add-cart">Buy</button>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Товаров пока нет</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
