{% extends 'template.html' %}

{% load static %}

{% block title %}
  Contacts
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}


{% block content %}
  <div class="work">
    <div class="content">
      <h1>Ярослав</h1>
      <p>Верстка - Главная страница; Страница каталога; Страница продукта. (Так же их стили)</p>
      <p>Бэкенд - Модели: Продукта, Категории(Подкатегории); Настроенная Админка. Views.py</p>
      <p>+ Макет в фигме</p>
    </div>

    <div class="content">
      <h1>Артем</h1>
      <p>Верстка — Cтраница профиля; Помощь по мелочам в стилях на странице регистрации/авторизации.</p>
      <p>Бэкенд — Модели: Пользователя; Регистрация и Авторизация.</p>
    </div>

    <div class="content">
      <h1>Денис</h1>
      <p>Полностью сам сделал тг бота.</p>
    </div>

    <div class="content">
      <h1>Надя</h1>
      <p>Верстка - Страницы Регистрации/Авторизации.(Так же их стили)</p>
    </div>

    <div class="content">
      <h1>Алексей</h1>
      <p>Верстка — Cтраницы блога и контактов;</p>
    </div>
  </div>
  <section class="hero">
      <h2>Свяжитесь с нами</h2>
      <p>Мы заботимся о вашем питомце и подберем для него лучшую еду.</p>
  </section>
  
  <section class="contact-info">
      <div class="info-block">
          <h3>Позвоните нам</h3>
          <p>+37529999999</p>
      </div>
      <div class="info-block">
          <h3>Адрес</h3>
          <p>Москва</p>
      </div>
      <div class="info-block">
          <h3>Напишите нам</h3>
          <p>info@gmail.com</p>
      </div>
      <div class="info-block">
          <h3>Часы работы</h3>
          <p>пп<br>пп</p>
      </div>
  </section>
  
  <section class="image-section">
      <img src="https://s3-alpha-sig.figma.com/img/a18d/07e4/89046319fed02b0df828e62c43fc0f83?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FgCxWFvxMArGccWzIfxh0ZIzgt7fI6fKe12oJOV-7-vngvSuGs~jnT-1pSPOJNCRhmj8WgWVOzjj5RS~QenaXFfzX7nFzbWZS65yG1jjL~7Nqut~2rDe1CVA3q~oG8UbDr1RYZ9abr15mJ8qhmZhjTWXefW-GSZkuiL-M8dEkJpjeg~N3o~75sySMAZWMupcvfM-AUfNfEIukYzyqLoWMkjVNVtaLPvXEBEqfzdSQfilrR9lnmMBsD5pFbAqmLCtvTnkNVjVoBIS~ZU98c6DsWHgBysson6qgOHWUCWG1X72FWiX-PAmxR-N44pscY9CNcRoVNnaN5SXJMwjAYNV0A__" alt="Pet food products">
  </section>
{% endblock %}