{% extends 'template.html' %}

{% load static %}

{% block title %}
  Quiz
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
  <div class="new-product-block">
    ede
  </div>

  <div class="hot-deals-block">
    <div class="hot-deals-text">
      <h3>We picked<br>some <span style="color: #FFAE5D; font-weight: bold;">cool <br> things</span> for<br>you!</h3>
    </div>
    <div class="products">
      <div class="products-title">
        <p>hot deals for you</p>
      </div>

      <div class="hot-products">
        {% if hot_products %}
          {% for product in hot_products %}
            <div class="product-card">
               <a href="{% url 'product_detail' product.slug %}"> 
                <div class="product-image">
                  {% if product.get_main_image %}
                    <img src="{{ product.get_main_image }}" alt="Главное фото" width="300">
                  {% endif %}
                </div>
                <div class="product-name">
                  <h2 class="product-title">{{ product.name|safe }}</h2>
                </div>
                <div class="product-pricing">
                  <p class="product-price">$ {{ product.price }}</p>
                  {% if product.discount %}
                    <p class="product-discount">-{{ product.discount }}%</p>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-product-message">No products available at the moment.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="special-offer">
    <div class="special-offer-text">
      <div class="timer">
        <h1>Time Left</h1>
        <div class="timer-container">
          <div class="timer-block">
            <span id="hours">01</span>
            <span class="label">Hours</span>
          </div>
          <span class="separator">:</span>
          <div class="timer-block">
            <span id="minutes">00</span>
            <span class="label">Minutes</span>
          </div>
          <span class="separator">:</span>
          <div class="timer-block">
            <span id="seconds">00</span>
            <span class="label">Seconds</span>
          </div>
        </div>
      </div>
      <div class="delivery-timer">
        <h1>🔥 Delivery is already tomorrow! 🔥</h1>
        <p>Place the order by 15:00, and you will receive it tomorrow!</p>
      </div>
    </div>
    <div class="special-offer-photo"></div>
  </div>
  
  <div class="most-popular-categories">
    {% if hot_categories %}
      {% for hot_category in hot_categories %}
        <div class="hot-categories-block">
          <div class="hot-categories-title">
            <p>{{ hot_category.name }}</p>
          </div>

          <div class="hot-categories-products">
            {% for product_popular_category in products_popular_category %}
              {% if product_popular_category.category == hot_category %}
                <div class="product-card">
                  <a href="{% url 'product_detail' product_popular_category.slug %}"> 
                    <div class="product-image">
                      {% if product_popular_category.get_main_image %}
                        <img src="{{ product_popular_category.get_main_image }}" alt="Главное фото" width="300">
                      {% endif %}
                    </div>
                    <div class="product-name">
                      <h2 class="product-title">{{ product_popular_category.name|safe }}</h2>
                    </div>
                    <div class="product-pricing">
                      <p class="product-price">$ {{ product_popular_category.price }}</p>
                      {% if product_popular_category.discount %}
                        <p class="product-discount">-{{ product_popular_category.discount }}%</p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="something"></div>

  <div class="popular-categories">
    {% if popular_categories %}
      <div class="categories-block">
        <div class="categories-title">
          <p>Popular Categories</p>
        </div>
        <div class="categories">
          {% for popular_category in popular_categories %}
            <div class="category-card">
              <a href="{% url 'product_detail' popular_category.slug %}"> 
                <div class="category-image">
                  {% if popular_category.category_img %}
                    <img src="{{ popular_category.category_img.url }}" alt="{{ popular_category.name }}">
                  {% else %}
                    <p>Нет изображения!</p>
                  {% endif %}
                </div>
                <div class="category-name">
                  <h2 class="category-title">{{ popular_category.name|safe }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="searched-items"></div>

{% endblock %}
