{% extends 'template.html' %}

{% load static %}

{% block title %}
  Quiz
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
  <div class="new-product-block">
    ede
  </div>

  <div class="hot-deals-block">
    <div class="hot-deals-text">
      <h3>We picked<br>some <span style="color: #FFAE5D; font-weight: bold;">cool <br> things</span> for<br>you!</h3>
    </div>
    <div class="products">
      <div class="products-title">
        <p>hot deals for you</p>
      </div>

      <div class="hot-products">
        {% if hot_products %}
          {% for product in hot_products %}
            <div class="product-card">
               <a href="#"> 
                <div class="product-image">
                  <img src="{{ product.product_img.url }}" alt="{{ product.name }}">
                </div>
                <div class="product-name">
                  <h2 class="product-title">{{ product.name|safe }}</h2>
                </div>
                <div class="product-pricing">
                  <p class="product-price">$ {{ product.price }}</p>
                  {% if product.discount %}
                    <p class="product-discount">-{{ product.discount }}%</p>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-product-message">No products available at the moment.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="special-offer"></div>
  
  <div class="most-popular-categories">
    {% if hot_categories %}
      {% for hot_category in hot_categories %}
        <div class="hot-categories-block">
          <div class="hot-categories-title">
            <p>{{ hot_category.name }}</p>
          </div>

          <div class="hot-categories-products">
            {% if product_list %}
              {% for product in product_list %}
                {% if product.category in hot_categories %}
                  <div class="product-card">
                    <a href="#"> 
                      <div class="product-image">
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}">
                      </div>
                      <div class="product-name">
                        <h2 class="product-title">{{ product.name|safe }}</h2>
                      </div>
                      <div class="product-pricing">
                        <p class="product-price">$ {{ product.price }}</p>
                        {% if product.discount %}
                          <p class="product-discount">-{{ product.discount }}%</p>
                        {% endif %}
                      </div>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <p class="no-product-message">No products available at the moment.</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="something"></div>
  <div class="popular-categories"></div>
  <div class="searched-items"></div>

{% endblock %}
