{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Main Page</title>
  <!-- <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">


  {% block css%} {% endblock %}
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="logo-block">
        <img src="/static/imgs/shopcart.png" alt="">
      </div>
      <div class="account-bar">
        {% if not user.is_authenticated %}
          <div class = "account-enter">
            <a href="{% url 'login'%}">
              <p>Log In</p>
            </a>
            <a href="{% url 'registration'%}">
              <p>Sign Up</p>
            </a>
          </div>
        {% else %}
          <div class = "account-navigation">
            <img class="avatar" src="{% static 'imgs/icons/profile.svg' %}">
            <a class = "dropdown-toggle" id = "dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{user.username}}</a>
            <ul class = "dropdown-menu" id = "dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                {% if user.is_superuser %}
                  <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        {%endif%}
      </div>
    </header>

    <div class="country-search">
      <div class="country-block">
        <img src="/static/imgs/icons/location.svg" alt="">
        <p>{{user.country}}</p>
      </div>
      <div class="search-block">
        <input type="text" placeholder="Search">
        <img src="/static/imgs/icons/search.svg" alt="">
      </div>
    </div>

    <div class="catalog">
      <nav class="catalog-nav">
        <ul>
          {% for category in categories %}
            <li class="category-item">
              <a href="{% url 'category_products' category.slug %}">{{ category.name }}</a>
              
              {% if category.subcategories.exists %}
                <div class="subs">
                  <ul class="subcategories">
                    {% for subcategory in category.subcategories.all %}
                      <li><a href="{% url 'category_products' subcategory.slug %}">{{ subcategory.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    

    <main>
      {% block content %}
      {% endblock %}
    </main>
    
    <footer>
      <div class="logo-block">
        <img src="/static/imgs/shopcart-white.png" alt="">
      </div>
  
      <div class="footer-links">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </nav>
      </div>
  
      <div class="footer-language">
        <img src="/static/imgs/england.png" alt="">
        <span>English</span>
        <img src="/static/imgs/icons/arrowdown.svg" class="arrow-icon" alt="Arrow Icon">
        <ul class="language-menu">
          <li data-lang="en">Comming soon...</li>
          <li data-lang="ru">Comming soon...</li>
          <li data-lang="es">Comming soon...</li>
          <li data-lang="fr">Comming soon...</li>
        </ul>
      </div>
    </footer>
  </div>
  
  <script src="{% static 'js/template.js' %}"></script>

</body>

</html>
